<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
               2016 - 2024 &copy; Bhau777 Games Dashboard
            </div>
        </div>
    </div>
</footer>